body {
  background-image: url("https://github.com/nicowirtzbiki/pig-game-js/blob/f232fb5c444f5ec5c3829cfc70f971a43a066157/images/background-pigs.jpg?raw=true");
  background-repeat: repeat;
  min-height: 100vh;
  color: white;
}

footer{
  margin-top: auto;
}

.is-horizontal-center {
  justify-content: center;
}

@media screen and (max-width: 769px) {
  .ordered-mobile {
    display: flex;
    flex-flow: column;
  }
  .ordered-mobile .fl-1 {
    order: 1;
  }
  .ordered-mobile .fl-2 {
    order: 2;
  }
  .ordered-mobile .fl-3 {
    order: 3;
  }
}