body {
  background-image: url("https://github.com/nicowirtzbiki/pig-game-js/blob/f232fb5c444f5ec5c3829cfc70f971a43a066157/images/background-pigs.jpg?raw=true");
  background-repeat: repeat;
  min-height: 100vh;
  color: white;
}

footer{
  margin-top: auto;
}

.is-horizontal-center {
  justify-content: center;
}