@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  /*background-image: url("https://github.com/nicowirtzbiki/pig-game-js/blob/f232fb5c444f5ec5c3829cfc70f971a43a066157/images/background-pigs.jpg?raw=true");*/
  /*background-repeat: repeat;*/
  /*color: white;*/
  /*min-height: 100vh;*/

  font-family: "Poppins", sans-serif;
  background: linear-gradient(145deg, #f8f9fa, #e0f7fa);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.image img {
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

button.button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.8rem;
  transition: all 0.3s ease;
}

button.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#reboot {
  margin-top: 1rem;
}

footer {
  padding: 2rem 0;
  background-color: #f1f1f1;
  color: #333;
}

.is-horizontal-center {
  justify-content: center;
}
